---
// import translations
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";
const t = translations(Astro.url);
---
<Layout title="Welcome to my Portfolio">
	<Container class="pt-16 text-center">
		<span set:html={t.home_description} />
		<br><br><a class="bg-slate-500 border-slate-800 hover:bg-slate-800 transition-all px-2 py-2 rounded-md" href="./resumé-2024.pdf">{t.home_resume}</a>
	</Container>
</Layout>
